.field {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/table.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 120px;
    height: auto;
  }
}
